
<div class="blanket">
	<div class="sign_up_container">
		<h2>Join us.</h2>

		<form class="sign_up" action="/user/create" method="post">
			<input type="text" name="user[name]" placeholder="name"><br>
			<input type="text" name="user[email]" placeholder="email"><br>
			<input type="password" name="user[password]" placeholder="password"><br>
			<input class="button" type="submit" value="Create User">
		</form>
	</div>
</div>
